.SideDrawer{
    height:100%;
    width:280px;
    position:fixed;
    max-width:70%;
    left:0;
    top:0;
    z-index:400;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    background-color:white;
    padding:32px 16px;
    box-sizing: border-box;
    
}
.Logo{
    height:11%;
}
.Open{
    transform:translateX(0);
    }
.Close{
    transform:translateX(-100%);
    }
@media(min-width:500px)
{
    .SideDrawer{
        display:none;
    }
}
